include navigation  

main
  form(action='', method='post')
    div
        label(for='nom') Votre nom complet 
        input#nom(type='text')
    div
        label(for='email') Votre mail 
        input(type='email', name='email')
    div 
        label(for="message") Votre message
        textarea(name='message', placeholder='hjdbckbc')  
 